<%= form_with(model: chirp, local: true) do |form| %>
  <% if chirp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(chirp.errors.count, "error") %> prohibited this chirp from being saved:</h2>

      <ul>
      <% chirp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :chirp %>
    <%= form.text_area :chirp %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
